In [1]:
import pandas as pd
import numpy as np

In [2]:
use= pd.read_csv('./최종_use_start.tsv', sep="\t", encoding='UTF-8')
use

      use_start  use_start_lng  use_start_lat use_start_time  대여자수
0      SJ_00001     127.289038      36.478950     2021-04-01    35
1      SJ_00001     127.289038      36.478950     2021-04-02    30
2      SJ_00001     127.289038      36.478950     2021-04-03     4
3      SJ_00001     127.289038      36.478950     2021-04-04    26
4      SJ_00001     127.289038      36.478950     2021-04-05    36
...         ...            ...            ...            ...   ...
56096    SJ_413     127.259272      36.498197     2021-07-22     4
56097    SJ_413     127.259272      36.498197     2021-07-23     5
56098    SJ_413     127.259272      36.498197     2021-07-26     4
56099    SJ_413     127.259272      36.498197     2021-07-27     3
56100    SJ_413     127.259272      36.498197     2021-07-28     7

[56101 rows x 5 columns]

In [3]:
# 일일 정류장별 대여 현황

use1= pd.read_csv('./sejong_bike(2022)_1.csv', encoding='EUC-KR')
use2= pd.read_csv('./sejong_bike(2022)_2.csv', encoding='EUC-KR')
use3= pd.read_csv('./sejong_bike(2022)_3.csv', encoding='EUC-KR')

In [4]:
use1['대여시간'].sort_values

<bound method Series.sort_values of 0          20220107184807
1          20220107185104
2          20220107185104
3          20220107185129
4          20220107185209
                ...
1048570    20220622093142
1048571    20220622093219
1048572    20220622093257
1048573    20220622093308
1048574    20220622093334
Name: 대여시간, Length: 1048575, dtype: int64>

In [5]:
result = pd.concat([use1, use2,use3], ignore_index=True)
result

,시작대여소_식별번호,시작대여소_경도,시작대여소_위도,대여시간,반납대여소_식별번호,반납대여소_경도,반납대여소_위도,반납시간
0,SJ_00312,127.255510,36.488959,20220107184807,SJ_00315,127.253168,36.488107,20220107185018
1,SJ_00452,127.267595,36.506868,20220107185104,SJ_00198,127.264788,36.511118,20220107185749
2,SJ_00414,127.249233,36.505187,20220107185104,SJ_00414,127.249233,36.505187,20220107185316
3,SJ_00323,127.260933,36.504349,20220107185129,SJ_00535,127.258506,36.506927,20220107185427
4,SJ_00057,127.259645,36.482133,20220107185209,SJ_00273,127.256961,36.490977,20220107185957
...,...,...,...,...,...,...,...,...
2250384,SJ_00034,127.280865,36.474907,20221231155811,SJ_00042,127.272908,36.474216,20221231165359
2250385,SJ_00338,127.261713,36.504864,20221231155944,SJ_00211,127.260127,36.501459,20221231160350
2250386,SJ_00163,127.248956,36.511523,20221231160615,SJ_00189,127.258868,36.513965,20221231161147
2250387,SJ_00064,127.251999,36.484200,20221231160706,SJ_00212,127.269599,36.499517,20221231172109
2250388,SJ_00426,127.297280,36.594918,20221231162838,SJ_00426,127.297280,36.594918,20221231173118

NameError: name '시작대여소경도' is not defined

In [7]:
use_year=result.iloc[:,:4]
return_year=result.iloc[:,4:]
use_year

        시작대여소_식별번호    시작대여소_경도   시작대여소_위도            대여시간
0         SJ_00312  127.255510  36.488959  20220107184807
1         SJ_00452  127.267595  36.506868  20220107185104
2         SJ_00414  127.249233  36.505187  20220107185104
3         SJ_00323  127.260933  36.504349  20220107185129
4         SJ_00057  127.259645  36.482133  20220107185209
...            ...         ...        ...             ...
2250384   SJ_00034  127.280865  36.474907  20221231155811
2250385   SJ_00338  127.261713  36.504864  20221231155944
2250386   SJ_00163  127.248956  36.511523  20221231160615
2250387   SJ_00064  127.251999  36.484200  20221231160706
2250388   SJ_00426  127.297280  36.594918  20221231162838

[2250389 rows x 4 columns]

In [8]:
use_Year = use_year.rename(columns={'시작대여소_식별번호': '시작대여소','시작대여소_경도':'use_start_lng','시작대여소_위도':'use_start_lat','대여시간':'날짜'})

In [9]:
use_Year

            시작대여소  use_start_lng  use_start_lat              날짜
0        SJ_00312     127.255510      36.488959  20220107184807
1        SJ_00452     127.267595      36.506868  20220107185104
2        SJ_00414     127.249233      36.505187  20220107185104
3        SJ_00323     127.260933      36.504349  20220107185129
4        SJ_00057     127.259645      36.482133  20220107185209
...           ...            ...            ...             ...
2250384  SJ_00034     127.280865      36.474907  20221231155811
2250385  SJ_00338     127.261713      36.504864  20221231155944
2250386  SJ_00163     127.248956      36.511523  20221231160615
2250387  SJ_00064     127.251999      36.484200  20221231160706
2250388  SJ_00426     127.297280      36.594918  20221231162838

[2250389 rows x 4 columns]

In [10]:
use_Year['날짜'] = pd.to_datetime(use_Year['날짜'], format='%Y%m%d%H%M%S')

In [11]:
use_Year

            시작대여소  use_start_lng  use_start_lat                  날짜
0        SJ_00312     127.255510      36.488959 2022-01-07 18:48:07
1        SJ_00452     127.267595      36.506868 2022-01-07 18:51:04
2        SJ_00414     127.249233      36.505187 2022-01-07 18:51:04
3        SJ_00323     127.260933      36.504349 2022-01-07 18:51:29
4        SJ_00057     127.259645      36.482133 2022-01-07 18:52:09
...           ...            ...            ...                 ...
2250384  SJ_00034     127.280865      36.474907 2022-12-31 15:58:11
2250385  SJ_00338     127.261713      36.504864 2022-12-31 15:59:44
2250386  SJ_00163     127.248956      36.511523 2022-12-31 16:06:15
2250387  SJ_00064     127.251999      36.484200 2022-12-31 16:07:06
2250388  SJ_00426     127.297280      36.594918 2022-12-31 16:28:38

[2250389 rows x 4 columns]

In [12]:
# '날짜' 컬럼에서 시간 정보 제거
use_Year['날짜'] = use_Year['날짜'].dt.date

In [13]:


# '날짜' 컬럼의 최솟값 찾기
start_date = use_Year['날짜'].min()

# '2022-01-07'를 datetime.date 형식으로 변환
compare_date = pd.to_datetime('2022-01-07').date()

# 2022-01-07로 변경
start_date = max(start_date, compare_date)

# 시작 날짜부터의 데이터프레임 생성
use_Year_from_start_date = use_Year[use_Year['날짜'] >= start_date].copy()

# 일별 대여소별 대여자 수를 계산하여 '대여자수' 컬럼 생성
daily_counts = use_Year_from_start_date.groupby(['날짜', '시작대여소','use_start_lng','use_start_lat']).size().reset_index(name='대여자수')

# 결과 확인
print(daily_counts)

                날짜     시작대여소  use_start_lng  use_start_lat  대여자수
0       2022-01-07  SJ_00001     127.289038      36.478950     5
1       2022-01-07  SJ_00002     127.294110      36.484045     2
2       2022-01-07  SJ_00004     127.289090      36.480842     3
3       2022-01-07  SJ_00005     127.281104      36.477518     2
4       2022-01-07  SJ_00006     127.286182      36.477736     2
...            ...       ...            ...            ...   ...
184058  2022-12-31  SJ_00674     127.288275      36.478151     5
184059  2022-12-31  SJ_00676     127.281922      36.465565     2
184060  2022-12-31  SJ_00888     127.260913      36.515929     2
184061  2022-12-31    SJ_409     127.279640      36.470920     1
184062  2022-12-31    SJ_412     127.300812      36.483993     1

[184063 rows x 5 columns]

In [14]:
daily_counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184063 entries, 0 to 184062
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   날짜             184063 non-null  object
 1   시작대여소          184063 non-null  object
 2   use_start_lng  184063 non-null  float64
 3   use_start_lat  184063 non-null  float64
 4   대여자수           184063 non-null  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 7.0+ MB

In [15]:
use_Year = daily_counts.copy()

In [16]:
# '날짜' 컬럼을 datetime으로 변환
use_Year['날짜'] = pd.to_datetime(use_Year['날짜'], format='%Y-%m-%d %H:%M:%S')

# '날짜' 컬럼에서 시간 정보 제거
use_Year['날짜'] = use_Year['날짜'].dt.date

# '날짜' 컬럼의 최솟값 찾기
start_date = use_Year['날짜'].min()

# '2022-01-07'를 datetime.date 형식으로 변환
compare_date = pd.to_datetime('2022-01-07').date()

# 2022-01-07로 변경
start_date = max(start_date, compare_date)

# 시작 날짜부터의 데이터프레임 생성
use_Year_from_start_date = use_Year[use_Year['날짜'] >= start_date].copy()

# 날짜를 기준으로 그룹화하여 대여자수 합계 계산
daily_totals_grouped = use_Year_from_start_date.groupby(['날짜', '시작대여소', 'use_start_lng', 'use_start_lat'])['대여자수'].sum().reset_index()

# 결과 출력
print(daily_totals_grouped)

                날짜     시작대여소  use_start_lng  use_start_lat  대여자수
0       2022-01-07  SJ_00001     127.289038      36.478950     5
1       2022-01-07  SJ_00002     127.294110      36.484045     2
2       2022-01-07  SJ_00004     127.289090      36.480842     3
3       2022-01-07  SJ_00005     127.281104      36.477518     2
4       2022-01-07  SJ_00006     127.286182      36.477736     2
...            ...       ...            ...            ...   ...
184058  2022-12-31  SJ_00674     127.288275      36.478151     5
184059  2022-12-31  SJ_00676     127.281922      36.465565     2
184060  2022-12-31  SJ_00888     127.260913      36.515929     2
184061  2022-12-31    SJ_409     127.279640      36.470920     1
184062  2022-12-31    SJ_412     127.300812      36.483993     1

[184063 rows x 5 columns]

In [17]:
daily_totals_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184063 entries, 0 to 184062
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   날짜             184063 non-null  object
 1   시작대여소          184063 non-null  object
 2   use_start_lng  184063 non-null  float64
 3   use_start_lat  184063 non-null  float64
 4   대여자수           184063 non-null  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 7.0+ MB

In [18]:
daily_totals_grouped.drop('시작대여소', axis=1, inplace=True)

In [19]:
# '날짜' 열을 datetime 형식으로 변환
daily_totals_grouped['날짜'] = pd.to_datetime(daily_totals_grouped['날짜'], format='%Y%m%d%H%M%S')

# 'yy-mm-dd' 형식으로 변경
daily_totals_grouped['날짜'] = daily_totals_grouped['날짜'].dt.strftime('%y-%m-%d')
# '날짜' 열을 datetime 형식으로 변환
daily_totals_grouped['날짜'] = pd.to_datetime('20' + daily_totals_grouped['날짜'], format='%Y-%m-%d')

In [20]:
daily_totals_grouped

               날짜  use_start_lng  use_start_lat  대여자수
0      2022-01-07     127.289038      36.478950     5
1      2022-01-07     127.294110      36.484045     2
2      2022-01-07     127.289090      36.480842     3
3      2022-01-07     127.281104      36.477518     2
4      2022-01-07     127.286182      36.477736     2
...           ...            ...            ...   ...
184058 2022-12-31     127.288275      36.478151     5
184059 2022-12-31     127.281922      36.465565     2
184060 2022-12-31     127.260913      36.515929     2
184061 2022-12-31     127.279640      36.470920     1
184062 2022-12-31     127.300812      36.483993     1

[184063 rows x 4 columns]

In [ ]:
# '주간/주말' 컬럼 추가 (1: 주간(월-금), 0: 주말(토-일))
daily_totals_grouped['주간/주말'] = (daily_totals_grouped['날짜'].dt.dayofweek < 5).astype(int)
daily_totals_grouped

In [ ]:
daily_totals_grouped.to_csv('2022년_어울링_대여최종(1년).csv', encoding='UTF-8',index=False)

In [ ]:
daily_totals_grouped = pd.read_csv('./2022년_어울링_대여최종(1년).csv', encoding='UTF-8')

In [ ]:
daily_totals_grouped

## 반납전처리

In [ ]:
return_year=result.iloc[:,4:]

In [ ]:
return_Year = return_year.rename(columns={'반납대여소_식별번호': '반납대여소','반납대여소_경도':'use_end_lng','반납대여소_위도':'use_end_lat','반납시간':'날짜'})

In [ ]:
return_Year['날짜'] = pd.to_datetime(return_Year['날짜'], format='%Y%m%d%H%M%S')

In [ ]:
# '날짜' 컬럼에서 시간 정보 제거
return_Year['날짜'] = return_Year['날짜'].dt.date

In [ ]:


# '날짜' 컬럼의 최솟값 찾기
end_date = return_Year['날짜'].min()

# '2022-01-07'를 datetime.date 형식으로 변환
compare_date = pd.to_datetime('2022-01-07').date()

# 2022-01-07로 변경
end_date = max(end_date, compare_date)

# 시작 날짜부터의 데이터프레임 생성
return_Year_from_end_date = return_Year[return_Year['날짜'] >= end_date].copy()

# 일별 대여소별 대여자 수를 계산하여 '대여자수' 컬럼 생성
end_counts = return_Year_from_end_date.groupby(['날짜', '반납대여소','use_end_lng','use_end_lat']).size().reset_index(name='대여자수')

# 결과 확인
print(end_counts)

In [ ]:
return_Year = end_counts.copy()

In [ ]:
# '날짜' 컬럼을 datetime으로 변환
return_Year['날짜'] = pd.to_datetime(return_Year['날짜'], format='%Y-%m-%d %H:%M:%S')

# '날짜' 컬럼에서 시간 정보 제거
return_Year['날짜'] = return_Year['날짜'].dt.date

# '날짜' 컬럼의 최솟값 찾기
end_date = return_Year['날짜'].min()

# '2022-01-07'를 datetime.date 형식으로 변환
compare_date = pd.to_datetime('2022-01-07').date()

# 2022-01-07로 변경
end_date = max(end_date, compare_date)

# 시작 날짜부터의 데이터프레임 생성
return_Year_from_end_date = return_Year[return_Year['날짜'] >= end_date].copy()

# 날짜를 기준으로 그룹화하여 대여자수 합계 계산
end_totals_grouped = return_Year_from_end_date.groupby(['날짜', '반납대여소', 'use_end_lng', 'use_end_lat'])['대여자수'].sum().reset_index()

# 결과 출력
print(end_totals_grouped)

In [ ]:
end_totals_grouped.drop('반납대여소', axis=1, inplace=True)

In [ ]:
# '날짜' 열을 datetime 형식으로 변환
end_totals_grouped['날짜'] = pd.to_datetime(end_totals_grouped['날짜'], format='%Y%m%d%H%M%S')

# 'yy-mm-dd' 형식으로 변경
end_totals_grouped['날짜'] = end_totals_grouped['날짜'].dt.strftime('%y-%m-%d')
# '날짜' 열을 datetime 형식으로 변환
end_totals_grouped['날짜'] = pd.to_datetime('20' + end_totals_grouped['날짜'], format='%Y-%m-%d')

In [ ]:
end_totals_grouped

In [ ]:
# '주간/주말' 컬럼 추가 (1: 주간(월-금), 0: 주말(토-일))
end_totals_grouped['주간/주말'] = (end_totals_grouped['날짜'].dt.dayofweek < 5).astype(int)
end_totals_grouped

In [ ]:
end_totals_grouped.to_csv('2022년_어울링_반납최종(1년).csv', encoding='UTF-8',index=False)

In [ ]:
Return_Year = pd.read_csv('./2022년_어울링_반납최종(1년).csv', encoding='UTF-8')

In [ ]:
Return_Year

## 날씨 데이터 전처리

In [ ]:
# 2021년 날씨 데이터
weather = pd.read_csv('./final세종_ASOS_239_DAY_2022_2022_2023.tsv', sep="\t", encoding='UTF-8')
weather

In [ ]:
# '일강수량(mm)' 열의 NaN 값을 0으로 채우기
weather['일강수량(mm)'] = weather['일강수량(mm)'].fillna(0)
weather

In [ ]:
weather.info()

In [ ]:
# '일강수량(mm)'이 0.1 초과인 경우 "비내림", 이하인 경우 "비안옴"으로 값을 바꾸기
weather['강수유무'] = np.where(weather['일강수량(mm)'] > 0.1,'비내림','비안옴')

In [ ]:
weather.drop(['평균 풍속(m/s)'], axis=1, inplace=True)
weather.drop(['일강수량(mm)'], axis=1, inplace=True)

In [ ]:
weather.drop(['평균기온(°C)'], axis=1, inplace=True)

In [ ]:
# 1. use_Year 데이터프레임에서 '날짜' 컬럼을 datetime으로 변환
daily_totals_grouped['날짜'] = pd.to_datetime(daily_totals_grouped['날짜'], format='%Y-%m-%d')

# 2. 날씨 데이터프레임에서 '일시' 컬럼을 datetime으로 변환
weather['일시'] = pd.to_datetime(weather['일시'], format='%Y-%m-%d')

# 3. 두 데이터프레임을 '날짜' 컬럼을 기준으로 합치기
merged_df = pd.merge(daily_totals_grouped, weather, left_on='날짜', right_on='일시', how='inner')

# 합쳐진 데이터프레임 확인
print(merged_df)

In [ ]:
merged_df.drop('일시',axis=1 ,inplace=True)

In [ ]:
# 원하는 순서대로 컬럼 재배치
merged_df = merged_df[['날짜', 'use_start_lng', 'use_start_lat', '대여자수', '최저기온(°C)', '최고기온(°C)', '강수유무','주간/주말']]

In [ ]:
use_start = merged_df
use_start

In [ ]:
use_start[use_start['강수유무']=='비내림']

In [ ]:
use_start['강수유무'] = use_start['강수유무'].apply(lambda x: 1 if x == '비내림' else 0)

# 결과 확인
print(use_start)

In [ ]:
use_start[use_start['강수유무']==1]

In [ ]:
use_start.to_csv('최종대여_12_11.csv', encoding="UTF-8")

## 반납 날씨 전처리

In [ ]:
Return_Year

In [ ]:
# 1. use_Year 데이터프레임에서 '날짜' 컬럼을 datetime으로 변환
Return_Year['날짜'] = pd.to_datetime(Return_Year['날짜'], format='%Y-%m-%d')

# 2. 날씨 데이터프레임에서 '일시' 컬럼을 datetime으로 변환
weather['일시'] = pd.to_datetime(weather['일시'], format='%Y-%m-%d')

# 3. 두 데이터프레임을 '날짜' 컬럼을 기준으로 합치기
merged_return = pd.merge(Return_Year, weather, left_on='날짜', right_on='일시', how='inner')

# 합쳐진 데이터프레임 확인
print(merged_return)

In [ ]:
merged_return.drop('일시',axis=1 ,inplace=True)

In [ ]:
# 원하는 순서대로 컬럼 재배치
merged_return = merged_return[['날짜', 'use_end_lng', 'use_end_lat', '대여자수', '최저기온(°C)', '최고기온(°C)', '강수유무','주간/주말']]

In [ ]:
use_end = merged_return

In [ ]:
use_end['강수유무'] = use_end['강수유무'].apply(lambda x: 1 if x == '비내림' else 0)

# 결과 확인
print(use_end)

In [ ]:
use_end[use_end['강수유무']==0]

In [ ]:
use_end.to_csv('최종반납_12_11.csv', encoding="UTF-8")

In [ ]:
ㄴㅇ러날ㅋㅊㅍ+13ㅂㅈㄱ

### 날씨 데이터 샘플 만들어서 예측결과 확인

In [ ]:
import pandas as pd

# Sample data
data4= {
    '날짜': [
        '04-01', '04-02', '04-03', '04-04', '04-05',
        '04-06', '04-07', '04-08', '04-09', '04-10',
        '04-11', '04-12', '04-13', '04-14', '04-15',
        '04-16', '04-17', '04-18', '04-19', '04-20',
        '04-21', '04-22', '04-23', '04-24', '04-25',
        '04-26', '04-27', '04-28', '04-29', '04-30'
    ],
    '최고기온(°C)': [26.0, 22.8, 23.3, 22.3, 16.0, 10.1, 15.9, 16.0, 18.6, 21.3, 20.8, 18.1, 23.2, 22.0, 15.4, 17.0, 20.8, 15.5, 28.0, 25.7, 23.2, 21.5, 21.3, 19.8, 11.5, 16.3, 22.6, 23.7, 18.3, 19.8],
    '최저기온(°C)': [6.4, 9.6, 8.7, 11.1, 7.9, 7.1, 3.2, 1.7, 2.0, 2.5, 10.2, 4.0, 3.1, 7.1, 8.2, 6.9, 4.8, 12.4, 13.2, 15.1, 13.0, 11.0, 6.9, 11.4, 7.9, 5.1, 2.5, 5.8, 8.9, 7.1],
    '강수유무': ['-', '-', '-', '7.6mm', '18.5mm', '4.2mm', '0.3mm', '-', '-', '-', '0.0mm', '-', '-', '-', '13.2mm', '0.0mm', '-', '1.3mm', '-', '-', '-', '0.0mm', '-', '0.0mm', '1.8mm', '-', '-', '-', '0.0mm', '-']
}



# Creating DataFrame
month4 = pd.DataFrame(data4)
month4['강수유무'] = month4['강수유무'].replace('-', '0.0mm')
month4['강수유무'] = month4['강수유무'].str.replace('mm', '')

# Convert the column to numeric if needed
month4['강수유무'] = pd.to_numeric(month4['강수유무'], errors='coerce')
# 조건에 따라 값을 변환하는 사용자 정의 함수를 정의합니다.
def convert_to_binary(value):
    return '비내림' if value >= 0.1 else '비안옴'

# '강수유무' 열에 함수를 적용합니다.
month4['강수유무'] = month4['강수유무'].apply(convert_to_binary)

# 더미 변수를 생성합니다.
dummy_df = pd.get_dummies(month4['강수유무'], prefix='강수유무').astype(int)
# 더미 변수를 원본 데이터프레임에 연결합니다.
month4 = pd.concat([month4, dummy_df], axis=1)
month4.drop('강수유무', axis=1, inplace=True)
# '날짜' 열을 datetime 형식으로 변환
month4['날짜'] = pd.to_datetime('2023-' + month4['날짜'], format='%Y-%m-%d')


# '요일' 열 추가 (0: 월요일, 1: 화요일, ..., 6: 일요일)
month4['요일'] = month4['날짜'].dt.dayofweek

# '주간/주말' 열 추가 (1: 주간(월-금), 0: 주말(토-일))
month4['주간/주말'] = (month4['요일'] < 5).astype(int)
month4.drop('요일', axis=1,inplace=True)

# Display the DataFrame
month4

In [ ]:
import pandas as pd

# Sample data
data5 = {
    '날짜': ['05-01', '05-02', '05-03', '05-04', 
           '05-05', '05-06', '05-07', '05-08', 
           '05-09', '05-10', '05-11', '05-12',
           '05-13', '05-14', '05-15', '05-16', 
           '05-17', '05-18', '05-19', '05-20', 
           '05-21', '05-22', '05-23', '05-24', 
           '05-25', '05-26', '05-27', '05-28', 
           '05-29', '05-30', '05-31'
    ],
    '최고기온(°C)': [21.4, 26.0, 26.2, 27.3, 20.8, 19.7, 15.7, 22.8, 25.4, 25.8, 27.2, 25.3, 24.6, 25.9, 28.7, 31.1, 31.4, 22.1, 25.7, 27.9, 23.9, 22.5, 25.4, 27.1, 27.6, 26.8, 23.1, 26.1, 23.9, 22.5, 26.5],
    '최저기온(°C)': [9.3, 6.7, 12.0, 14.9, 16.3, 12.1, 7.7, 5.1, 7.2, 9.4, 10.1, 11.7, 12.7, 9.8, 10.5, 14.8, 15.6, 17.9, 16.1, 14.5, 15.5, 13.7, 11.7, 12.4, 15.3, 16.2, 18.9, 16.1, 13.7, 15.5, 16.5],
    '강수유무': ['-', '-', '-', '1.8mm', '83.3mm', '38.6mm', '0.2mm', '-', '-', '-', '-', '-', '-', '0.0mm', '-', '-', '-', '0.0mm', '0.6mm', '-', '-', '5.7mm', '-', '1.6mm', '0.0mm', '5.7mm', '-', '0.0mm', '34.7mm', '28.0mm', '-']
}



# Creating DataFrame
month5= pd.DataFrame(data5)
month5['강수유무'] = month5['강수유무'].replace('-', '0.0mm')
month5['강수유무'] = month5['강수유무'].str.replace('mm', '')

# Convert the column to numeric if needed
month5['강수유무'] = pd.to_numeric(month5['강수유무'], errors='coerce')
# 조건에 따라 값을 변환하는 사용자 정의 함수를 정의합니다.
def convert_to_binary(value):
    return '비내림' if value >= 0.1 else '비안옴'

# '강수유무' 열에 함수를 적용합니다.
month5['강수유무'] = month5['강수유무'].apply(convert_to_binary)

# 더미 변수를 생성합니다.
dummy_df = pd.get_dummies(month5['강수유무'], prefix='강수유무').astype(int)
# 더미 변수를 원본 데이터프레임에 연결합니다.
month5 = pd.concat([month5, dummy_df], axis=1)
month5.drop('강수유무', axis=1, inplace=True)

# '날짜' 열을 datetime 형식으로 변환
month5['날짜'] = pd.to_datetime('2023-' + month5['날짜'], format='%Y-%m-%d')


# '요일' 열 추가 (0: 월요일, 1: 화요일, ..., 6: 일요일)
month5['요일'] = month5['날짜'].dt.dayofweek

# '주간/주말' 열 추가 (1: 주간(월-금), 0: 주말(토-일))
month5['주간/주말'] = (month5['요일'] < 5).astype(int)
month5.drop('요일', axis=1,inplace=True)


# Display the DataFrame
print(month5)

In [ ]:
import pandas as pd

# Sample data
data6 = {
    '날짜': ['06-01', '06-02', '06-03', '06-04', '06-05', '06-06', '06-07', '06-08', '06-09', '06-10', '06-11', '06-12', '06-13', '06-14', '06-15', '06-16', '06-17', '06-18', '06-19', '06-20', '06-21', '06-22', '06-23', '06-24', '06-25', '06-26', '06-27', '06-28', '06-29', '06-30'],
    '최고기온(°C)': [28.0, 27.2, 28.1, 28.7, 26.7, 28.4, 26.4, 28.4, 29.2, 31.7, 30.0, 29.9, 28.7, 28.6, 28.5, 31.9, 32.5, 33.1, 33.5, 27.7, 24.4, 28.4, 31.8, 33.5, 32.8, 26.1, 31.4, 27.1, 26.1, 26.8],
    '최저기온(°C)': [17.5, 18.1, 15.6, 17.1, 17.5, 15.6, 16.6, 18.5, 18.4, 18.8, 17.5, 17.6, 18.7, 17.2, 16.6, 17.5, 18.8, 19.6, 19.8, 20.2, 19.5, 19.1, 20.2, 22.1, 19.6, 21.3, 20.8, 21.4, 22.9, 22.0],
    '강수유무': ['0.0mm', '0.0mm', '0.0mm', '0.0mm', '83.3mm', '38.6mm', '0.2mm', '0.0mm', '0.0mm', '1.3mm', '0.0mm', '0.0mm', '0.0mm', '0.0mm', '0.0mm', '54.5mm', '25.3mm', '5.7mm', '0.0mm', '1.6mm', '0.0mm', '50.8mm', '0.0mm', '0.0mm', '54.5mm', '25.3mm', '5.7mm', '0.0mm', '1.6mm', '0.0mm'],
}



# Creating DataFrame
month6= pd.DataFrame(data6)

month6['강수유무'] = month6['강수유무'].str.replace('mm', '')

# Convert the column to numeric if needed
month6['강수유무'] = pd.to_numeric(month6['강수유무'], errors='coerce')
# 조건에 따라 값을 변환하는 사용자 정의 함수를 정의합니다.
def convert_to_binary(value):
    return '비내림' if value >= 0.1 else '비안옴'

# '강수유무' 열에 함수를 적용합니다.
month6['강수유무'] = month6['강수유무'].apply(convert_to_binary)

# 더미 변수를 생성합니다.
dummy_df = pd.get_dummies(month6['강수유무'], prefix='강수유무').astype(int)
# 더미 변수를 원본 데이터프레임에 연결합니다.
month6 = pd.concat([month6, dummy_df], axis=1)
month6.drop('강수유무', axis=1, inplace=True)

# '날짜' 열을 datetime 형식으로 변환
month6['날짜'] = pd.to_datetime('2023-' + month6['날짜'], format='%Y-%m-%d')


# '요일' 열 추가 (0: 월요일, 1: 화요일, ..., 6: 일요일)
month6['요일'] = month6['날짜'].dt.dayofweek

# '주간/주말' 열 추가 (1: 주간(월-금), 0: 주말(토-일))
month6['주간/주말'] = (month6['요일'] < 5).astype(int)

month6.drop('요일', axis=1,inplace=True)
# Display the DataFrame
print(month6)

In [ ]:
Weather2023 = pd.concat([month4,month5,month6])

In [ ]:
Weather2023

In [ ]:
station = pd.read_csv('./위도경도만.csv', encoding="EUC-KR")
station1=station.copy()

In [ ]:
station1=station1.rename(columns={'위도': 'use_start_lng', '경도': 'use_start_lat'})

In [ ]:
station1.to_csv('대여소 위도,경도.csv',encoding="UTF-8")

In [ ]:
WP=Weather2023.iloc[:1]

In [ ]:
WP

In [ ]:
import pandas as pd


# 복제할 횟수
num_rows = 615

# 데이터프레임 복제하여 새로운 데이터프레임 생성
new_WP = pd.concat([WP] * num_rows, ignore_index=True)

# 결과 확인
new_WP

In [ ]:
new_station = pd.concat([station,new_WP], axis=1)

In [ ]:
new_station = pd.concat([station] * 7, ignore_index=True)
new_station

In [ ]:
import pandas as pd

for i in range(1,8):
    WP = Weather2023.iloc[:i]

    # 복제할 횟수
    num_rows = 615

    # 데이터프레임 복제하여 새로운 데이터프레임 생성
    new_WP = pd.concat([WP] * num_rows, ignore_index=True)
    
    
    new_station = pd.concat([station] * 7, ignore_index=True)
    
    final_station = pd.concat([new_station, new_WP], axis=1)
    
    # 결과 확인
display(final_station)

In [ ]:
final_station.sort_values(by=['날짜'])

In [ ]:
final_station= final_station.sort_values(by=['날짜'])

In [ ]:
final_station.info()

In [ ]:
final_station = final_station.rename(columns={'위도': 'use_start_lng', '경도': 'use_start_lat'})
final_station

In [ ]:
# '날짜' 열의 '-'를 삭제

final_station['날짜'] = final_station['날짜'].astype(str).str.replace('-', '').str.replace('2023', '')

In [ ]:
final_station

In [ ]:
X

In [ ]:
# 날짜 컬럼을 datetime 형식으로 변환
X['날짜'] = pd.to_datetime(X['날짜'], format='%m%d')

# 날짜 컬럼의 형식을 변경 (0401로)
X['날짜'] = X['날짜'].dt.strftime('%m%d')

# 결과 확인
print(X)

In [ ]:
X.info()

In [ ]:
X = X.astype({'날짜':'int64'})
print(X.dtypes)

In [ ]:
final_station.info()

In [ ]:
final_station = final_station.astype({'날짜':'int64'})
print(final_station.dtypes)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Min-Max 스케일링을 위한 객체 생성
scaler = MinMaxScaler()

# 대여자수, 평균기온(°C), 최저기온(°C), 최고기온(°C), 일강수량(mm), 평균 풍속(m/s)에 대한 Min-Max 스케일링
columns_to_scale = ['최저기온(°C)', '최고기온(°C)']
final_station[columns_to_scale] = scaler.fit_transform(final_station[columns_to_scale])

In [ ]:
X_test=final_station.copy()

In [ ]:
X_test=X_test[['날짜','use_start_lng', 'use_start_lat', '최저기온(°C)', '최고기온(°C)', '강수유무_비내림', '강수유무_비안옴', '주간/주말']]
X_test

In [ ]:
# '강수유무' 컬럼 생성
X_test['강수유무'] = X_test.apply(lambda row: 1 if row['강수유무_비내림'] == 1 or row['강수유무_비안옴'] == 1 else 0, axis=1)

# '강수유무_비내림', '강수유무 컬럼_비안옴' 컬럼 삭제
X_test.drop(['강수유무_비내림', '강수유무_비안옴'], axis=1, inplace=True)
X_test

In [ ]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error, r2_score

# XGBoost 회귀 모델 생성 및 학습
xgb_regressor = xgb.XGBRegressor(random_state=42, learning_rate=0.1, n_estimators=500, max_depth =5 , enable_categorical=True)
xgb_regressor.fit(X_train, y_train)

# 검증 세트를 사용한 모델 평가
# y_valid_pred = xgb_regressor.predict(X_valid)
# mse_valid = mean_squared_error(y_valid, y_valid_pred)


# 테스트 데이터로 예측 수행
predict = xgb_regressor.predict(X_test)

In [ ]:
X_test.info()

In [ ]:
predict

In [ ]:
predict=np.round(predict,2)

In [ ]:
predict

In [ ]:
# 음수인 값 확인
negative_predictions = predict[predict < 0]

# 음수 값을 출력
print(negative_predictions)